/* Fonts Import Merriweather and  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');


/* Common Shared Styles */

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 82.5%;
    max-width: 1320px;
    margin: 0 auto;
}



/* Banner Styles */

/* Banner Head */
.banner-head {
    margin-top: 50px;
    background-image: url(../resources/Rectangle\ 15.png), url('../resources/Banner\ Image.png');
    height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 99px;
}

.banner-head p {
    padding-top: 177px;
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 26.4px;
    font-weight: 400;
}

.banner-head h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 59.4px;
    font-weight: 900;
    line-height: 95px;
    width: 521.4px;
    height: 190px;
    margin: 0 auto;
}

/* Banner Body */
.banner-body{
    height: 664.95px;
    margin-bottom: 99px;
}
.banner-body h1 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 72.6px;
    font-weight: 700;
    margin-bottom: 48px;
}

.banner-body p {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 19.8px;
    font-weight: 500;
    margin-bottom: 13.2px;
}

.banner-body h3 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 39.6px;
    font-weight: 700;
    margin-bottom: 39.6px;
}

.banner-body img {
    max-width: 661.65px;
    height: 412.5px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.banner-body img:hover{
    
}


